.b-container{
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.b-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgb(54, 172, 54) ;
     height: 200px;
    width: 60%; 
    align-content: center;
}
.b-main button{
    background-color: #fff;
    padding: 10px 20px;
    font-weight: bolder;
}
.b-main button:hover{
    background-color:rgb(54, 172, 54) ;
}
.b-main h3{
    font-size: 25px;
}
